.question-container {
    padding: 2rem 3rem 3rem;
    background-color: var(--bg-200);
    border-radius: 15px;
    margin-bottom: 1.5rem;
}

.question-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.question-pregunta {
    text-align: left;
    font-weight: 600;
    margin: 0;
}

.question-respuesta {
    background-color: rgb(29, 29, 29);
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: .5rem;
    color: white;
    padding: 2rem;
    margin: 1rem 0;
    transition: all .5s;
}

.question-respuesta:hover {
    background-color: #3e3e3e;
}

.question-q-container {
    padding: 1.5rem 1rem 2rem;
}


/* aaaaa */

.q_card {
    min-height: 87px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    transition: all .3s;
    margin: 1rem 0;
}

.q_card:hover {
    transform: scale(1.01);
    transition: all .3s;

}

.q_content .lbl {
    cursor: pointer;
}

.q_radio[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--bg-100);
    height: 100%;
    width: 100%;
    border-radius: 15px;
    position: absolute;
    cursor: pointer;
    transition: all .3s;
}

.q_radio[type="radio"]:hover {
    box-shadow: 0px 0px 10px -3px var(--accent-200);
    -webkit-box-shadow: 0px 0px 10px -3px var(--accent-200);
    -moz-box-shadow: 0px 0px 10px -3px var(--accent-200);
}

.q_radio[type="radio"]::before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    background-color: #f9fafd;
    border: 1px solid #e2e6f3;
    border-radius: 50%;
    top: 30px;
    right: 30px;
    transition: all .3s;
}

.q_radio[type="radio"]::after {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border-radius: 50%;
    top: 35px;
    right: 35px;
    transition: all .3s;
}


.q_radio[type="radio"]:checked {
    box-shadow: 0px 0px 2px 3px var(--accent-100);
    -webkit-box-shadow: 0px 0px 2px 3px var(--accent-100) inset;
    -moz-box-shadow: 0px 0px 2px 3px var(--accent-100) inset;
    transition: all .5s;
    background-color: var(--bg-300);
    
}


.q_radio[type="radio"]:checked::after {
    background-color: var(--accent-100);
    transition: all .3s;
}

.q_content {
    position: absolute;
    cursor: pointer;
    text-align: left;
    padding: 2rem;
}




.question-retro {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: var(--bg-300);
    border-radius: .5rem;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.28) inset;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.28) inset;
    -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.28) inset;
}

.question-retro-c {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .5rem 1rem;
    color: green;
    font-weight: 600;
    border-radius: .5rem;
    margin: 0;
    letter-spacing: .05rem;
    /* text-shadow:
        0 0 0.2em black,
        0 0 0.2em black,
        0 0 0.2em green; */
}

.question-retro-c i,
.question-retro-i i {
    font-size: 1.6rem;
}

.question-retro-i {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .5rem 1rem;
    color: rgb(212, 0, 0);
    font-weight: 600;
    border-radius: .5rem;
    margin: 0;
    letter-spacing: .05rem;
    /* text-shadow:
        0 0 0.2em black,
        0 0 0.2em black,
        0 0 0.2em red; */
}

.question-retro-r {
    padding: 2rem;
    margin: 0;
}

.question-button-validate {
    font-size: 18px;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    padding: 0.7em 2em;
    border: 3px solid var(--primary-200);
    border-radius: .5rem;
    overflow: auto;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: var(--primary-200);
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    cursor: pointer;
}

.question-button-validate::before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: var(--accent-200);
    z-index: -1;
}

.question-button-validate:hover,
.question-button-validate:focus:before {
    color: white;
}



.question-button-validate:hover:before,
.question-button-validate:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}




.question-validate {
    display: flex;
    align-items: center;
    justify-content: center;
}