.admin_menu-body {
    /* background-color: var(--bg-100); */
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 1fr;
}

.admin_menu-header {
    background-color: #fff;

    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.admin_menu-sidebar {
    background-color: #1c1f23;

    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.admin_menu-main {
    background-color: #c3c5ca;

    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.tabs {
    margin: 0 auto;
}

.tab-buttons {
    margin-bottom: 2rem;
    text-align: center;
}

.tab-buttons button {
    margin-right: 15px;
    font-size: 20px;
    background: transparent;
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--text-200);
    transition: all ease-in-out .2s;
    border-bottom: 2px solid transparent;

}

.tab-buttons button.active {
    border-bottom: 2px solid var(--accent-100);
    color: var(--text-100);
}

.cursos-container-header {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
}

.cursos-container-header h1 {
    margin-bottom: .5rem;
    font-size: 2rem;
    font-weight: 500;
    padding: 0;
}

.cursos-container-item {
    margin-top: 2rem;
}