.course-body {
    box-sizing: border-box;
    padding: 0rem 5rem;
    margin: 0;
    background: var(--bg-100);
}

.course-navigation {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
}

.course-navigation-item {
    display: flex;
    width: 200px;
}

.course-navigation-item:nth-child(2) {
    width: 500px;
}

.btn-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 1.7rem;
    font-weight: 500;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    background-color: var(--accent-200);
    text-decoration: none;
    z-index: 1;
    border-radius: 100%;
    transition: all .5s;
}

.btn-nav:hover {
    color: white;
    background-color: var(--accent-100);
    border-radius: 100%;
    transition: all .5s;
}

.btn-nav-current {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 1.7rem;
    font-weight: 500;
    color: white;
    border: solid 2px var(--text-200);
    cursor: pointer;
    position: relative;
    background-color: var(--accent-100);
    text-decoration: none;
    z-index: 1;
    border-radius: 100%;
    transition: all .5s;
}

.btn-nav-current:hover {
    border-radius: 100%;
    transition: all .5s;
}

.course-navigation-item-nav {
    display: flex;
    gap: .5rem;
}

.coursemenu-header {
    margin: 2rem;
    display: flex;
    justify-content: space-between;
}

.btn-nav:disabled {
    background-color: var(--bg-300);
    color: gray;
    cursor: auto;
    cursor: not-allowed;
}

.course-navigation {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: var(--bg-100);
    z-index: 100;
    top: 0;
}