.course-body {
    box-sizing: border-box;
    padding: 8rem 10rem;
    margin: 0;
    background: var(--bg-100);
}

.course-navigation {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
}

.course-navigation-item {
    
}

.btn-nav {

}

.btn-nav-current {
    background-color: blue;
}