.mq-editable-field {
  height: 200px;
  padding: 10px;
  font-size: 20px;
  padding: 1.5rem;
  border: none;
  overflow-y: scroll;
  background-color: var(--bg-100);
}

.tex-button {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  border: none;
  background-color: var(--bg-100);
  transition: all .3s;
  cursor: pointer;
}

.mq-root-block,
.mq-textarea {
  word-wrap: normal;
}

.mq-math-mode,
.mq-selectable,
.mq-root-block,
.mq-hasCursor,
.mq-binary-operator {
  cursor: pointer;
}

.mq-cursor {
  font-size: 2rem;
}

.tex-button:hover {
  background-color: var(--accent-100);
  color: white;
  transition: all .3s;
  cursor: pointer;
}



.math-body {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 2rem;
  gap: 1.5rem;
  background-color: var(--bg-200);
  border-radius: 15px;
}

.math-btns-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(10, 1fr);
}




button {
  cursor: pointer;
}