.et-body {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.et-container {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background-color: var(--bg-200);
    border-radius: 15px;
}

.et-header {
    margin-bottom: 1rem;
}

.et-title {
    font-size: 2rem;
}

.et-description {
    font-size: 1.2rem;
}

.et-lbl-name {
    display: flex;
    border-radius: 15px;
    background-color: var(--bg-100);
    overflow: hidden;
    border: none;
    margin-top: .67rem;
}

.et-input-text {
    background: transparent;
    width: 100%;
    padding: 1rem 2rem;
    margin: 0;
    border: none;
    font-size: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    margin: 0;
    color: var(--text-200);
    letter-spacing: .5px;
    background-color: var(--bg-100);
    border-radius: 15px 0 0 15px;
}

.et-input-text:focus {
    outline: none;
}

.et-btn-editar {
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    background-color: var(--accent-200);
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    border-radius: 5px;
    white-space: nowrap;
}

.et-btn-editar::before {
    content: "";
    position: absolute;
    left: -1%;
    top: 0;
    width: 101%;
    height: 100%;
    background-color: var(--accent-100);
    transform: translateX(-100%);
    transition: all .5s;
    z-index: -1;
}

.et-btn-editar:hover::before {
    transform: translateX(0);
}


.et-lbl-editar {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    margin: 0;
    color: var(--primary-200);
    cursor: pointer;
    background-color: var(--bg-100);
    border-radius: 15px 0 0 15px;
}

.et-content {
    margin-bottom: 2rem;
}

.et-content-2 {
    display: flex;
    align-items: center;
    justify-content: center ;
    background-color: var(--bg-200);
    border-radius: 15px;
    padding: 3rem;
} 

.et-content-2_body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: .5rem;
}

.et-content-3 {
    display: flex;
    gap: 2rem;
}

.et-content-3 .et-nombretest {
    width: 70%;
}

.et-content-3 .et-calificacion {
    width: 30%;
}

.et-container-2 { 
    display: flex;
    flex-direction: column;
    width: 100%;
}

.et-question-item {     
    background-color: var(--bg-300);
    padding: 1.5rem 2rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.et-question-btns {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.et-content-2_footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}