.ec-body {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.ec-container {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background-color: var(--bg-200);
    border-radius: 15px;
}

.ec-header {
    margin-bottom: 1rem;
}

.ec-title {
    font-size: 1.8rem;
}

.ec-description {
    font-size: 1.2rem;
}

.ec-lbl-name {
    display: flex;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.27) inset;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.27) inset;
    -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.27) inset;
    overflow: hidden;
    transition: all .5s;
    margin-top: 4.8px;
}

.ec-input-text {
    background: transparent;
    width: 100%;
    padding: 1rem 2rem;
    margin: 0;
    border: none;
    font-size: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    margin: 0;
    color: var(--text-200);
    letter-spacing: .5px;
    background-color: var(--bg-200);
    border-radius: 15px 0 0 15px;
}

.ec-input-text:focus {
    outline: none;
}

.ec-btn-editar {
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    background-color: var(--accent-200);
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    white-space: nowrap;
    transition: all .5s;
}

.ec-btn-editar::before {
    content: "";
    position: absolute;
    left: -1%;
    top: 0;
    width: 101%;
    height: 100%;
    background-color: var(--accent-100);
    transform: translateX(-100%);
    transition: all .5s;
    z-index: -1;
}

.ec-btn-editar:hover::before {
    transform: translateX(0);
}


.ec-lbl-editar {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    margin: 0;
    color: var(--primary-200);
    cursor: pointer;
    background-color: var(--bg-200);
    border-radius: 15px 0 0 15px;
}

.ec-content {
    margin-bottom: 2rem;
}

.ec-content-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-200);
    border-radius: 15px;
    padding: 3rem;
}

.ec-content-2_body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.ec-container-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.et-nombretest,
.et-calificacion {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.ec-question-item {
    background-color: var(--bg-200);
    color: var(--text-200);
    padding: 1.5rem 2rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: grab;
}

.ec-question-btns {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.ec-content-2_footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ec-datos-curso {
    padding: 2rem;
    border-radius: 15px;
    background-color: var(--bg-100);
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.ec-datos-curso_body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ec-question-q {
    display: flex;
    align-items: center;
    gap: 1rem;
}
